.my-page-container {
  // background-color: #f6f8fb;
  position: relative;
  top: -18rem;
  z-index: 10;
  max-width: 128rem;
  margin: 0 auto;
  &__navigation {
    list-style-type: none;
    text-align: left;
    margin: 0;
    padding: 0;
    li {
      line-height: 5rem;
      text-transform: capitalize;
      display: flex;
      align-items: center;
      .icon {
        transform: translateY(0.2rem);
      }
      &:hover {
        color: #d0af73;
        cursor: pointer;
      }
    }
  }

  &__button {
    width: 100%;
  }

  .card-custom {
    border-radius: 0.6rem;
    cursor: pointer;
    .ant-card-body {
      text-align: center;
      padding: 4rem;
    }
    &__title {
      text-transform: capitalize;
    }
    &__avatar {
      max-width: 12rem;
      max-height: 12rem;
      margin: 4rem 0;
    }

    &__button {
      font-size: 1.4rem !important;
    }

    &__ic {
      height: 8.4rem;
      width: 8.4rem;
      border-radius: 100%;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      background-color: #f6f8fb;
    }

    &:hover {
      box-shadow: 0 0 30px rgba(black, 0.1);
      transform: translateY(-2.5%);
    }
  }
}
