.logout-popup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  padding: 4.1rem 7.6rem;
  &__title {
    margin-bottom: 2.5rem;
    font-weight: bold;
    font-size: 2rem;
  }
  &__content {
      margin-bottom: 3.5rem;
  }
  &__buttonContainer{
    width: 70% !important;
    margin: 0 auto;
  }
}
