@import 'pages/Style/variable.scss';


.footer-container {
  // css here
  &__copyright{
    text-align: center;
    margin-bottom: 12rem;
  }
  background-color: map-get($background-colors, 'dark') !important;
  color: map-get($text-colors, 'dark-grey') !important;
  padding: 8rem 0 !important;

  &__logo{
    margin: 0 0 4rem 0;
    text-align: center;
  }

  &__navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    list-style-type: none;
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      margin-bottom: 3.2rem;
      &:last-child{
        color: yellow !important
      }
    }
    li:not(:last-child) {
      margin-right: 3.8rem;
    }
    li.break {
      flex-basis: 100%;
      height: 0;
      margin: 0;
    }

    a {
      text-transform: uppercase;
      transition: all 0.3s linear;
      color: map-get($text-colors, 'white');
      &:link,
      &:visited {
        color: map-get($text-colors, 'white') !important;
      }

      &:hover {
        color: map-get($main-colors, 'primary') !important;
      }
    }
  }

  &__social-icons {
    justify-content: center;
    display: flex;
    list-style: none;
    list-style-type: none;
    margin: 0 0 4rem 0;
    padding: 0;
    > li:not(:last-child) {
      margin:0 3.4rem 0 0;
    }
  }
  &__column1{
    padding: 0 !important;
    justify-content: center;
  }
  &__column2{
    padding: 0 !important;
    margin-top: -0.3rem !important;
    justify-content: flex-start;
  }
  @media(max-width: 1024px){
    &__navigation{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      list-style-type: none;
      list-style: none;
      padding: 0;
      margin: 0;
    }
  }
}
.icon-custom{
  margin-bottom: -0.5rem;
}
