$main-colors: (
  "primary": #d0af73,
  "success": #28a745,
  "info": #17a2b8,
  "warning": #ffc107
);

$background-colors: (
  'page': #fff,
  "main" : #515A79,
  "button-1": #898BC2,
  "dark": #020815,
  "grey": #edf0f1,
  "white": #fff
);

$text-colors: (
  "main": #000,
  "color-1": #B7B9C5,
  "color-2": #515A79,
  "color-3": #787DFF,
  "color-4": #FE9055,
  "white": #fff,
  "dark-grey": #959595,
  "grey": #666666
);

$font-sizes : (
  "text-size-xs": 10px,
  "text-size-sm": 12px,
  "text-size": 13px,
  "text-size-2x": 15px,
  "text-size-3x": 18px,
  "text-size-4x": 24px,
  "text-size-5x": 32px,
  "text-size-6x": 48px
);